@tailwind base;
@tailwind components;
@tailwind utilities;


/* (Opcional) estilos globais do projeto */
:root {
  --brand: #2563eb;
}

@layer base {
  a {
    @apply font-roboto font-medium text-white;
  }

  input[type="text"] {
    @apply font-roboto font-normal
  }

  i {
    @apply text-xl text-white
  }

  h2 {
    @apply font-montserrat font-bold uppercase text-base
  }

  h3 {
    @apply font-montserrat
  }

  h1 {
    @apply font-montserrat font-black uppercase text-3xl
  }

  p{
    @apply font-montserrat
  }
}

